body {
    background-color: #001f3f; /* Azul marino */
    color: #fff; /* Color de texto blanco */
}
/* Estilos para la cabecera en dispositivos móviles */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .logo img {
        max-width: 100%;
        margin-right: auto;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
        text-align: center; /* Centrar el texto en dispositivos móviles */
    }

    nav ul li a {
        font-size: 14px; /* Reducir el tamaño de la fuente para dispositivos móviles */
    }
}
header {
    background-color: #333; /* Color de fondo gris oscuro */
    color: #fff; /* Color de texto blanco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Ajusta el espaciado según sea necesario */
}
.logo img {
    max-width: 15%; /* Tamaño máximo del logo al 15% del contenedor */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Tamaño de la fuente */
}
/* Estilos para la sección main */
/* Estilos para la sección main */
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinear elementos arriba */
    background-color: #fff; /* Fondo blanco para la sección main */
    padding: 20px; /* Espaciado interno para el contenido */
    color: #000;
}

.content {
    flex-grow: 1; /* Permite que la sección de contenido crezca */
    margin-right: 20px; /* Espacio entre la barra lateral y el contenido */
}

.sidebar {
    width: 25%; /* Ancho de la barra lateral */
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse; /* Cambiar el orden en dispositivos móviles */
    }

    .content,
    .sidebar {
        width: 100%; /* Ancho completo en dispositivos móviles */
        margin-right: 0; /* Eliminar el margen en dispositivos móviles */
    }

    .content img {
        display: block;
        max-width: 100%; /* Ajustar el ancho máximo de la imagen */
        height: auto; /* Permitir que la altura se ajuste automáticamente */
        margin: 10px auto; /* Centrar la imagen debajo del texto en móviles */
    }
}

footer {
    background-color: #333; /* Color de fondo gris oscuro */
    color: #ccc; /* Color de texto gris claro */
    text-align: center; /* Centrar el texto */
    padding: 20px; /* Espaciado interno para el contenido */
}

.footer-section h3 {
    color: #fff; /* Color de texto blanco para el título */
}

.footer-section p {
    margin: 5px 0; /* Espaciado entre párrafos */
}

.footer-bottom {
    margin-top: 10px; /* Espaciado superior */
}
